{% extends "base.jinja2" %}
{% block title %}Authors of Articles from TnL{% endblock %}
{% block content %}

	<section id="one">
		<div class="container">
			<header class="blog_listing">
				<h2>Authors in Articles from TnL</h2>
			</header>
			{% for author, posts in authors.iteritems() %}
				<div class="author_list_item">
					<h3><a href="{{ author.replace(' ', '_') }}1.html">{{ author }}: {{ posts|length }} posts</a></h3>
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock %}