{% extends "base.jinja2" %}
{% from "social_meta.jinja2" import render_social_metadata %}
{% block social_metadata %}
	{% set has_article_image = Image is defined and Image %}
	{% set article_image = Image if has_article_image else '/images/social-preview.png' %}
	{% set article_image_alt = ImageAlt|default(Title ~ ' preview image', true) if has_article_image else 'Tod and Lorna logo' %}
	{{ render_social_metadata(
		Title,
		Hook,
		'/tnlblog/' ~ slugify,
		image=article_image,
		content_type='article',
		author=Author,
		published_time=PostedDate.isoformat(),
		tags=Tags,
		image_alt=article_image_alt
	) }}
{% endblock %}
{% block title %} {{ Title }}{% endblock %}
{% block content %}
                            <section id="one">
                                <div class="container">
                                    <header class="major">
										<h2>{{ Title }}</h2>
                                    </header>
									<div class="post_author">Written by <a href="author_{{ Author.replace(' ', '_') }}1.html">{{ Author }}</a></div>
									<div class="posted_date">On: {{ PostedDate.strftime('%d, %b %Y at %I:%M %p') }}</div>
									<div class="tags">
										Tags: {% for tag in Tags %}<span class="tag"><a href="tag_{{ tag }}1.html">{{ tag }}</a></span>&nbsp;{% endfor %}
									</div>
									<div class="post_content">
									{{ Hook }}
									{{ content }}
									</div>
                                </div>
                            </section>
{% endblock %}
